.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 10rem;
}

.emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.datasetCard {
  display: grid;
  grid-template-columns: 6fr 1fr;
  height: 10rem;
  background-color: wheat;
  border: 0.1rem dashed blueviolet;
  border-radius: 1rem;
  margin-top: 3rem;
  padding: 1rem;
}

.datasetButtons {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.editDeleteButtons {
  display: flex;
  justify-content: space-around;
}

.displayLinebreak {
  white-space: pre-line;
}
